/*containers*/

#review {
    /*background-color: #e6d8c3;*/
    padding: .5em;
    transition: all .5s ease;
    border-radius: .75rem;
    /*border: black 2px solid;*/
    font-family: "Fira Sans";
    /*font-size: 1.4rem;*/
}

#areview {
    /*background-color: #d4c0ad;*/
    padding: .7em;
    transition: all .5s ease;
    border-radius: 1.6em;
    width: 10em;
    font-family: "Fira Sans";
}


#mreview {
    /*background-color: #e6d8c3;*/
    padding: .5em;
    transition: all .5s ease;
    border-radius: .75rem;
    /*border: black 2px solid;*/
    font-family: "Fira Sans";
}

#container {
    /*background-color: #d4c0ad;*/
    padding: 1em;
    transition: all .5s ease;
    border-radius: 1em;
    height: 30em;
    font-family: "Fira Sans";
}

#areview:hover {
    background-color: #254430;
    cursor: pointer;
    transition: all .5s ease;
}