/*containers*/

#settings {
    background-color: #e6d8c3;
    padding: 1em;
    transition: all .5s ease;
    border-radius: 1em;
    border: black 2px solid;
    font-family: "Fira Sans";
}

#userp {
    background-color: #e6d8c3;
    padding: 1em;
    transition: all .5s ease;
    border-radius: 1em;
    border: #37433b 2px solid;
    font-family: "Fira Sans";
}

#notif {
    background-color: #e6d8c3;
    padding: 1em;
    transition: all .5s ease;
    border-radius: 1em;
    border: black 2px solid;
    font-family: "Fira Sans";
}

#supp {
    background-color: #e6d8c3;
    padding: 1em;
    transition: all .5s ease;
    border-radius: 1em;
    border: black 2px solid;
    font-family: "Fira Sans";
}


#so {
    background-color: #e6d8c3;
    padding: 1em;
    transition: all .5s ease;
    border-radius: 1em;
    border: black 2px solid;
    font-family: "Fira Sans";
}

#submenu {
    background-color: #e6d8c3;
    padding: 1em;
    transition: all .5s ease;
    font-family: "Fira Sans";
}

#submenu {
    padding: 1em;
    display: none;
    background-color: #e6d8c3;
    transition: all .5s ease;
    font-family: "Fira Sans";
}

#submenus {
    padding: 1em;
    display: none;
    background-color: #e6d8c3;
    font-family: "Fira Sans";
    transition: all .5s ease;
}

#clm {
    padding: 1em;
    display: none;
    background-color: #e6d8c3;
    font-family: "Fira Sans";
    transition: all .5s ease;
}

/*hover effects*/

#notif.nohover:hover {
    background-color: #c2a68c;
    cursor: pointer;
    transition: all .5s ease;
}

#supp:hover {
    background-color: #c2a68c;
    cursor: pointer;
    transition: all .5s ease;
}



#userp:hover {
    background-color: #c2a68c;
    cursor: pointer;
    transition: all .5s ease;
}

#settings:hover {
    background-color: #c2a68c;
    cursor: pointer;
    transition: all .5s ease;
}

#so:hover {
    background-color: #c2a68c;
    cursor: pointer;
    transition: all .5s ease;
}

#clm:hover {
    background-color: #c2a68c;
    cursor: pointer;
    transition: all .5s ease;
}

#submenu:hover {
    background-color: #c2a68c;
    cursor: pointer;
    transition: all .5s ease;
}

#submenus:hover {
    background-color: #c2a68c;
    cursor: pointer;
    transition: all .5s ease;
}