/*containers*/

#settings {
    background-color: #f5f3f1;
    padding: 1em;
    transition: all .5s ease;
    border-radius: 1em;
    border: #5d866c 2px solid;
    font-family: "Fira Sans";
}

#userp {
    background-color: #f5f3f1;
    padding: 1em;
    transition: all .5s ease;
    border-radius: 1em;
    border: #5d866c 2px solid;
    font-family: "Fira Sans";
}

#notif {
    background-color: #f5f3f1;
    padding: 1em;
    transition: all .5s ease;
    border-radius: 1em;
    border: #5d866c 2px solid;
    font-family: "Fira Sans";
}

#supp {
    background-color: #f5f3f1;
    padding: 1em;
    transition: all .5s ease;
    border-radius: 1em;
    border: #5d866c 2px solid;
    font-family: "Fira Sans";
}


#so {
    background-color: #f5f3f1;
    padding: 1em;
    transition: all .5s ease;
    border-radius: 1em;
    border: #5d866c 2px solid;
    font-family: "Fira Sans";
}

#submenu {
    background-color: #f5f3f1;
    padding: 1em;
    transition: all .5s ease;
    font-family: "Fira Sans";
}

#submenu {
    padding: 1em;
    display: none;
    background-color: #f5f3f1;
    transition: all .5s ease;
    font-family: "Fira Sans";
}

#submenus {
    padding: 1em;
    display: none;
    background-color: #f5f3f1;
    font-family: "Fira Sans";
    transition: all .5s ease;
}

#sub {
    padding: 1em;
    display: none;
    background-color: #f5f3f1;
    font-family: "Fira Sans";
    transition: all .5s ease;
}

#delSearchHistory {
    padding: 1em;
    display: none;
    background-color: #f5f3f1;
    font-family: "Fira Sans";
    transition: all .5s ease;
}

#clm {
    padding: 1em;
    display: none;
    background-color: #f5f3f1;
    font-family: "Fira Sans";
    transition: all .5s ease;
}

/*emojis*/
#🧲 {
    padding: 1em;
    display: none;
    background-color: #f5f3f1;
    transition: all .5s ease;
    font-family: "Fira Sans";
}

#🅿️ {
    padding: 1em;
    display: none;
    background-color: #f5f3f1;
    font-family: "Fira Sans";
    transition: all .5s ease;
}

#📧 {
    padding: 1em;
    display: none;
    background-color: #f5f3f1;
    font-family: "Fira Sans";
    transition: all .5s ease;
}

#❌ {
    padding: 1em;
    display: none;
    background-color: #f5f3f1;
    font-family: "Fira Sans";
    transition: all .5s ease;
}

/*hover effects*/

#userp.nohover:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#supp:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#settings:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#so:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#clm:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#notif:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#submenu:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#submenus:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#sub:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#delSearchHistory:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#🧲:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#🅿️:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#❌:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}

#📧:hover {
    background-color: #E6D8C3;
    cursor: pointer;
    transition: all .5s ease;
}