/* Import the compiled Tailwind CSS (not the .d.mts declaration file). */
@import "tailwindcss/index.css";

@theme {
  --font-zalando: "Zalando Sans", sans-serif;
}

#set:hover {
  background-color: #c2a68c;
  cursor: none;
  transition: all .5s ease;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li a {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  display: flex;
  display: block;
  height: auto;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: auto;
  transition: font-size 0.4s;
}

ul a:hover {
  color: rgba(255, 255, 255, 0.61);
  font-size: 1.3em;
  transition: color 0.6s, font-size 0.4s;
  text-decoration: underline;
}